@layer reset, base, tokens, recipes, utilities;

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}

	strong,
	b {
		font-weight: 700;
	}

	textarea {
		width: 100%;
		font-size: 16px;
	}

	input {
		font-size: 16px;
	}

	table {
		width: 100%;
	}

	@media (max-width: 720px) {
		html {
			font-size: 18px;
		}

		main {
			padding: 1em;
		}
	}
}

@layer utilities {
	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		white-space: nowrap;
	}
}
